* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: block;
  background-color: #fff;
  height: 100%;
}

.headercontainer {
  display: flex;
  height: 8vh;
  background-color: #fff;
  align-items: center;
  gap: 20px;
  padding-left: 10px;
  width: 25rem;
}

.headercontainer-header {
  display: inline-flex;
  gap: 20px;
}

.header-logo-png {
  height: 8vh;
  display: inline-block;
  color: #f00;
  height: 2vh;
  width: max-content;
}

.webuy {
  display: inline-flex;
  float: left;
  align-items: center;
}

.header-logo-txt {
  color: #9a1414;
  line-height: 3vh;
  font-size: xx-large;
}

.header-logo-png {
  
}

.header-why,
.header-news,
.header-contactus {
  display: none;
}

.main-tex {
  /* the image used */
  background-image: url("../images/pexels-nick-wehrli-3751391.jpg");
  height: 25rem;
  width: 21rem;
  background-size: cover;
}

h1 {
  padding: 20px;
  color: #f5f5f5;
}

.valuation-container {
  position: relative;
  width: 18rem;
  height: 10vh;
}

.valuation-container-textblock {
  position: absolute;
  background-color: #f7f7f7;
  padding-left: 15px;
  padding-right: 15px;
  margin: -70px -60px 15px 15px;
  border-radius: 10px;
  border-color: 2px #000;
  display: block;
  text-align: center;
}

.valuation-container-text {
  padding-top: 15px;
  text-align: left;
}

.valuation-container-textfield-plt-ste{
  background-color: #b20000;
  text-align: left;
}

.valuation-container-whysellwithus {
  background-color: #f7f7f7;
  width: 25rem;
  height: 2rem;
  text-align: left;
}

.valuation-container-whysellwithus-txt {
  margin-top: 210px;
  background-color: #f7f7f7;
  color: #b20000;
  padding-left: 10px;
}

.valuation-container-form-button {
  background-color: #b20000;
  height: 3em;
  border-radius: 8px;
  padding-inline: 10px;
  color: #fff;
  border: none;
  z-index: auto;
}

#states,
#fname, 
#pname {
 height: 35px;
 background-color: #dbd5d5 ;
 border: none;
}

.contactus-container {
  position: relative;
  text-align: center;
}

.contactus-container-form {
  position: absolute;
  background-color: #f7f7f7;
  padding-left: 15px;
  padding-right: 15px;
  margin: -40px -70px 10px 15px;
  border-radius: 10px;
  border-color: 2px #000;
  padding-top: 25px;
}

.contactus-container-form-button {
  background-color: #b20000;
  height: 3em;
  border-radius: 8px;
  padding-inline: 10px;
  color: #fff;
  border: none;
  align-items: center;
}

h3 {
  color: whitesmoke;
  padding: 20px;
}

h2 {
  color: #b20000;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #520000;
  margin-top: 320px;
  color: #f5f5f5;
  height: 120px;
  align-items: center;
  width: 25rem;
}

.footer-container-logo-png {
  height: 4vh;
  display: inline-block;
  padding-top: 15px;
}

.footer-container-logo-txt {
  color: white;
  height: 2vh;
  width: max-content;
  padding-top: 7px;
  margin-bottom: ;
}

.icons-container {
  display:inline-block;
}

.icons-container {
  margin-bottom: 10px;
}
